[submodule "KiwiModules"]
	path = KiwiModules
	url = https://pierreguillot@github.com/KiwiMusic/KiwiModules.git
[submodule "ThirdParty/PortAudio"]
	path = ThirdParty/PortAudio
	url = https://pierreguillot@github.com/KiwiMusic/PortAudio.git
